In [1]:
import os
import sys
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
from IPython.display import HTML
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg
from pyspark.sql.functions import count, when
from pyspark.sql.functions import abs
HTML('''
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js ">
</script>
<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.jp-CodeCell > div.jp-Cell-inputWrapper').hide();
 } else {
$('div.jp-CodeCell > div.jp-Cell-inputWrapper').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit"
    value="Click here to toggle on/off the raw code."></form>
''')

<h1 style="text-align:center;">Exploratory Data Analysis of Olympic Data Using PySpark</h1>
<hr>

<a name="top"></a>
#### Table of Contents:

[ref0]: #prob_stat
- [Problem Statement][ref0]

[ref1]: #dat_prep
- [Data Preprocessing][ref1]

[ref2]: #dat_cln
- [Data Cleaning][ref2]

[ref3]: #dat_expl
- [Data Exploration][ref3]

[ref4]: #conc
- [Conclusion and Recommendations][ref4]

[ref5]: #dat_set
- [Dataset][ref5]


***

<a name="prob_stat"></a>
## Problem Statement
***
Basketball is a popular sport in the Philippines; however, many Filipinos face genetic limitations that challenge their ability to compete at the highest levels internationally. To address this, we aim to leverage the Olympic dataset to perform a comprehensive exploratory data analysis (EDA). By comparing the height and weight profiles of Filipino athletes with those from other countries, we intend to identify nations with similar body types that have achieved significant success in the Olympics.

Our goal is to uncover which sports these similar-profile countries excel in and to analyze the number of medals they have won in these sports. This analysis will guide us in identifying sports where Filipinos might have a competitive edge, helping to strategically focus on disciplines where we can enhance our chances of winning medals and achieving international success.

[ref]: #top
[Back to Table of Contents][ref]

<a name="dat_prep"></a>
## Data Preprocessing
***

In [2]:
# Loading dataset
spark = SparkSession.builder.appName("EDA").getOrCreate()
df = spark.read.csv("athlete_events.csv", header=True, inferSchema=True)

In [3]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

#### Viewing Data

In [4]:
df.limit(5).show()

+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+---------+-------------+--------------------+-----+
| ID|                Name|Sex|Age|Height|Weight|          Team|NOC|      Games|Year|Season|     City|        Sport|               Event|Medal|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+---------+-------------+--------------------+-----+
|  1|           A Dijiang|  M| 24|   180|    80|         China|CHN|1992 Summer|1992|Summer|Barcelona|   Basketball|Basketball Men's ...|   NA|
|  2|            A Lamusi|  M| 23|   170|    60|         China|CHN|2012 Summer|2012|Summer|   London|         Judo|Judo Men's Extra-...|   NA|
|  3| Gunnar Nielsen Aaby|  M| 24|    NA|    NA|       Denmark|DEN|1920 Summer|1920|Summer|Antwerpen|     Football|Football Men's Fo...|   NA|
|  4|Edgar Lindenau Aabye|  M| 34|    NA|    NA|Denmark/Sweden|DEN|1900 Summer|1900|Summer|    Paris|   Tug-Of-War|Tug-Of-War Men's ...| Gold|
|  5|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988 Winter|1988|Winter|  Calgary|Speed Skating|Speed Skating Wom...|   NA|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+---------+-------------+--------------------+-----+

#### Selecting Specific Columns

In [5]:
# Get unique values in the 'Sport' column
unique_sports = df.select('Sport').distinct()

# Show the unique sports
unique_sports.show(truncate=False)

+-------------+
|Sport        |
+-------------+
|Gymnastics   |
|Tennis       |
|Boxing       |
|Ice Hockey   |
|Golf         |
|Rowing       |
|Judo         |
|Softball     |
|Beijing      |
|Sailing      |
|Grenoble     |
|Swimming     |
|Stockholm    |
|Squaw Valley |
|Los Angeles  |
|Alpine Skiing|
|Sarajevo     |
|Oslo         |
|Basketball   |
|Handball     |
+-------------+
only showing top 20 rows

<a name="dat_cln"></a>
## Data Cleaning
***

#### Null Handling

In [6]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()
# It shows there is no NULL value but NA values might the beauty of the outputs so I will remove those

+---+----+---+---+------+------+----+---+-----+----+------+----+-----+-----+-----+
| ID|Name|Sex|Age|Height|Weight|Team|NOC|Games|Year|Season|City|Sport|Event|Medal|
+---+----+---+---+------+------+----+---+-----+----+------+----+-----+-----+-----+
|  0|   0|  0|  0|     0|     0|   0|  0|    0|   0|     0|   0|    0|    0|    0|
+---+----+---+---+------+------+----+---+-----+----+------+----+-----+-----+-----+

In [7]:
# Convert Height and Weight to numeric types, if they're not already
from pyspark.sql.functions import col, when

# Replace 'NA' with null values in Height and Weight, and then drop rows with null values
df_clean = df.withColumn("Height", when(col("Height") == "NA", None).otherwise(col("Height"))) \
             .withColumn("Weight", when(col("Weight") == "NA", None).otherwise(col("Weight"))) \
             .dropna(subset=["Height", "Weight"]) \
             .filter(col("Medal") != "NA")

df_clean.show()

+---+--------------------+---+---+------+------+-----------+---+-----------+----+------+--------------+-------------+--------------------+------+
| ID|                Name|Sex|Age|Height|Weight|       Team|NOC|      Games|Year|Season|          City|        Sport|               Event| Medal|
+---+--------------------+---+---+------+------+-----------+---+-----------+----+------+--------------+-------------+--------------------+------+
| 16|Juhamatti Tapio A...|  M| 28|   184|    85|    Finland|FIN|2014 Winter|2014|Winter|         Sochi|   Ice Hockey|Ice Hockey Men's ...|Bronze|
| 17|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|FIN|1948 Summer|1948|Summer|        London|   Gymnastics|Gymnastics Men's ...|Bronze|
| 17|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|FIN|1948 Summer|1948|Summer|        London|   Gymnastics|Gymnastics Men's ...|  Gold|
| 17|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|FIN|1948 Summer|1948|Summer|        London|   Gymnastics|Gymnastics Men's ...|  Gold|
| 17|Paavo Johannes Aa...|  M| 28|   175|    64|    Finland|FIN|1948 Summer|1948|Summer|        London|   Gymnastics|Gymnastics Men's ...|  Gold|
| 17|Paavo Johannes Aa...|  M| 32|   175|    64|    Finland|FIN|1952 Summer|1952|Summer|      Helsinki|   Gymnastics|Gymnastics Men's ...|Bronze|
| 20|  Kjetil Andr Aamodt|  M| 20|   176|    85|     Norway|NOR|1992 Winter|1992|Winter|   Albertville|Alpine Skiing|Alpine Skiing Men...|  Gold|
| 20|  Kjetil Andr Aamodt|  M| 20|   176|    85|     Norway|NOR|1992 Winter|1992|Winter|   Albertville|Alpine Skiing|Alpine Skiing Men...|Bronze|
| 20|  Kjetil Andr Aamodt|  M| 22|   176|    85|     Norway|NOR|1994 Winter|1994|Winter|   Lillehammer|Alpine Skiing|Alpine Skiing Men...|Silver|
| 20|  Kjetil Andr Aamodt|  M| 22|   176|    85|     Norway|NOR|1994 Winter|1994|Winter|   Lillehammer|Alpine Skiing|Alpine Skiing Men...|Bronze|
| 20|  Kjetil Andr Aamodt|  M| 22|   176|    85|     Norway|NOR|1994 Winter|1994|Winter|   Lillehammer|Alpine Skiing|Alpine Skiing Men...|Silver|
| 20|  Kjetil Andr Aamodt|  M| 30|   176|    85|     Norway|NOR|2002 Winter|2002|Winter|Salt Lake City|Alpine Skiing|Alpine Skiing Men...|  Gold|
| 20|  Kjetil Andr Aamodt|  M| 30|   176|    85|     Norway|NOR|2002 Winter|2002|Winter|Salt Lake City|Alpine Skiing|Alpine Skiing Men...|  Gold|
| 20|  Kjetil Andr Aamodt|  M| 34|   176|    85|     Norway|NOR|2006 Winter|2006|Winter|        Torino|Alpine Skiing|Alpine Skiing Men...|  Gold|
| 30|    Pepijn Aardewijn|  M| 26|   189|    72|Netherlands|NED|1996 Summer|1996|Summer|       Atlanta|       Rowing|Rowing Men's Ligh...|Silver|
| 37|  Ann Kristin Aarnes|  F| 23|   182|    64|     Norway|NOR|1996 Summer|1996|Summer|       Atlanta|     Football|Football Women's ...|Bronze|
| 62|   Giovanni Abagnale|  M| 21|   198|    90|      Italy|ITA|2016 Summer|2016|Summer|Rio de Janeiro|       Rowing|Rowing Men's Coxl...|Bronze|
| 63| Jos Luis Abajo Gmez|  M| 30|   194|    87|      Spain|ESP|2008 Summer|2008|Summer|       Beijing|      Fencing|Fencing Men's epe...|Bronze|
| 65|   Patimat Abakarova|  F| 21|   165|    49| Azerbaijan|AZE|2016 Summer|2016|Summer|Rio de Janeiro|    Taekwondo|Taekwondo Women's...|Bronze|
| 67|Mariya Vasilyevna...|  F| 22|   179|    80|     Russia|RUS|2008 Summer|2008|Summer|       Beijing|    Athletics|Athletics Women's...|Silver|
+---+--------------------+---+---+------+------+-----------+---+-----------+----+------+--------------+-------------+--------------------+------+
only showing top 20 rows

<a name="dat_expl"></a>
## Data Exploration
***

#### Data Aggregation

In [8]:
# Filter by gender and Philippines
df_philippines_male = df_clean.filter((col("Team") == "Philippines") & (col("Sex") == "M"))
df_philippines_female = df_clean.filter((col("Team") == "Philippines") & (col("Sex") == "F"))

# Calculate average height and weight for each gender
avg_height_weight_philippines_male = df_philippines_male.agg(
    avg(col("Height")).alias("Avg_Height"),
    avg(col("Weight")).alias("Avg_Weight")
).collect()[0]

avg_height_weight_philippines_female = df_philippines_female.agg(
    avg(col("Height")).alias("Avg_Height"),
    avg(col("Weight")).alias("Avg_Weight")
).collect()[0]

avg_height_philippines_male = avg_height_weight_philippines_male["Avg_Height"]
avg_weight_philippines_male = avg_height_weight_philippines_male["Avg_Weight"]

avg_height_philippines_female = avg_height_weight_philippines_female["Avg_Height"]
avg_weight_philippines_female = avg_height_weight_philippines_female["Avg_Weight"]

print(f"Philippines Male - Avg Height: {avg_height_philippines_male}, Avg Weight: {avg_weight_philippines_male}")
print(f"Philippines Female - Avg Height: {avg_height_philippines_female}, Avg Weight: {avg_weight_philippines_female}")

Philippines Male - Avg Height: 165.71428571428572, Avg Weight: 59.285714285714285
Philippines Female - Avg Height: 149.0, Avg Weight: 53.0

In [9]:
# Calculate average height and weight for all countries, separated by gender
df_country_avg_male = df_clean.filter(col("Sex") == "M").groupBy("Team").agg(
    avg(col("Height")).alias("Avg_Height"),
    avg(col("Weight")).alias("Avg_Weight")
)

df_country_avg_female = df_clean.filter(col("Sex") == "F").groupBy("Team").agg(
    avg(col("Height")).alias("Avg_Height"),
    avg(col("Weight")).alias("Avg_Weight")
)

# Find countries with similar body builds to Philippines, separated by gender
tolerance = 10

df_similar_builds_male = df_country_avg_male.filter(
    (abs(col("Avg_Height") - avg_height_philippines_male) <= tolerance) &
    (abs(col("Avg_Weight") - avg_weight_philippines_male) <= tolerance)
)

df_similar_builds_female = df_country_avg_female.filter(
    (abs(col("Avg_Height") - avg_height_philippines_female) <= tolerance) &
    (abs(col("Avg_Weight") - avg_weight_philippines_female) <= tolerance)
)

df_similar_builds_male.show()
df_similar_builds_female.show()

+--------------------+------------------+------------------+
|                Team|        Avg_Height|        Avg_Weight|
+--------------------+------------------+------------------+
|              Guyana|             173.0|              54.0|
|                Iraq|             174.0|              67.0|
|               India|171.14285714285714| 65.74725274725274|
|               China|170.80602006688963|  66.1438127090301|
|             Ireland|             174.8|              67.5|
|            Thailand|          167.9375|           58.3125|
|             Morocco|174.31578947368422|              60.0|
|           Venezuela| 172.1818181818182| 62.09090909090909|
|              Mexico|  173.135593220339|  65.2542372881356|
|           Indonesia|             167.2| 67.33333333333333|
|        Saudi Arabia|             175.6|              67.4|
|              Uganda|171.28571428571428|61.285714285714285|
|            Ethiopia|169.16666666666666|56.233333333333334|
|          Kyrgyzstan|             166.0|              62.0|
|               Kenya|174.96428571428572|63.154761904761905|
|               Japan| 170.6378676470588|  68.2279411764706|
|            Portugal|175.53333333333333|              69.2|
|            Colombia|169.85714285714286|63.214285714285715|
|Winnipeg Shamrocks-1|             174.0|              66.5|
|          Malaysia-1|             170.0|              66.5|
+--------------------+------------------+------------------+
only showing top 20 rows

+--------------+------------------+------------------+
|          Team|        Avg_Height|        Avg_Weight|
+--------------+------------------+------------------+
|       Algeria|158.33333333333334|51.666666666666664|
|      Thailand|155.71428571428572|              54.0|
|     Indonesia|             154.2|              52.1|
|Unified Team-2|             159.0|              46.5|
|   Philippines|             149.0|              53.0|
|      Malaysia|             158.5|              53.5|
|       Moldova|             155.0|              53.0|
|     Hungary-1|             158.0|              48.0|
|       Vietnam|             157.0|              47.0|
+--------------+------------------+------------------+

#### Collecting the Output of an action

In [10]:
# Join with the cleaned dataset to get medal counts, separated by gender

# Rename the 'Team' column in df_clean to avoid ambiguity
df_clean_male = df_clean.filter(col("Sex") == "M").withColumnRenamed("Team", "Team_Clean")
df_clean_female = df_clean.filter(col("Sex") == "F").withColumnRenamed("Team", "Team_Clean")

# Join with the cleaned dataset to get medal counts for males
df_similar_medals_male = df_similar_builds_male.alias("avg").join(
    df_clean_male, 
    col("avg.Team") == col("Team_Clean"), 
    "inner"
).groupBy("avg.Team").count().alias("Number_of_Medals")

# Rename the count column to "Number_of_Medals"
df_similar_medals_male = df_similar_medals_male.withColumnRenamed("count", "Number_of_Medals")

# Join with the cleaned dataset to get medal counts for females
df_similar_medals_female = df_similar_builds_female.alias("avg").join(
    df_clean_female, 
    col("avg.Team") == col("Team_Clean"), 
    "inner"
).groupBy("avg.Team").count().alias("Number_of_Medals")

# Rename the count column to "Number_of_Medals"
df_similar_medals_female = df_similar_medals_female.withColumnRenamed("count", "Number_of_Medals")

# Show the results
df_similar_medals_male.show()
df_similar_medals_female.show()

+--------------------+----------------+
|                Team|Number_of_Medals|
+--------------------+----------------+
|              Guyana|               1|
|                Iraq|               1|
|               India|              91|
|               China|             299|
|             Ireland|              20|
|            Thailand|              16|
|             Morocco|              19|
|           Venezuela|              11|
|              Mexico|              59|
|           Indonesia|              15|
|        Saudi Arabia|               5|
|              Uganda|               7|
|            Ethiopia|              30|
|          Kyrgyzstan|               3|
|               Kenya|              84|
|               Japan|             544|
|            Portugal|              15|
|            Colombia|              14|
|Winnipeg Shamrocks-1|               2|
|          Malaysia-1|               2|
+--------------------+----------------+
only showing top 20 rows

+--------------+----------------+
|          Team|Number_of_Medals|
+--------------+----------------+
|       Algeria|               3|
|      Thailand|              14|
|     Indonesia|              10|
|Unified Team-2|               2|
|   Philippines|               1|
|      Malaysia|               4|
|       Moldova|               1|
|     Hungary-1|               1|
|       Vietnam|               1|
+--------------+----------------+

In [11]:
# Rename 'Team' column in df_clean to avoid ambiguity
df_clean_male = df_clean.filter(col("Sex") == "M").withColumnRenamed("Team", "Team_Clean")
df_clean_female = df_clean.filter(col("Sex") == "F").withColumnRenamed("Team", "Team_Clean")

# Join and count medals for males
df_medals_male = df_clean_male.join(
    df_similar_builds_male.withColumnRenamed("Team", "Team_Similar"),
    col("Team_Clean") == col("Team_Similar"),
    "inner"
).groupBy("Team_Clean", "Sport").agg(
    count(when(col("Medal") == "Gold", 1)).alias("Gold"),
    count(when(col("Medal") == "Silver", 1)).alias("Silver"),
    count(when(col("Medal") == "Bronze", 1)).alias("Bronze"),
)

# Join and count medals for females
df_medals_female = df_clean_female.join(
    df_similar_builds_female.withColumnRenamed("Team", "Team_Similar"),
    col("Team_Clean") == col("Team_Similar"),
    "inner"
).groupBy("Team_Clean", "Sport").agg(
    count(when(col("Medal") == "Gold", 1)).alias("Gold"),
    count(when(col("Medal") == "Silver", 1)).alias("Silver"),
    count(when(col("Medal") == "Bronze", 1)).alias("Bronze"))


# Rename 'Team_Clean' back to 'Team' for clarity
df_medals_male = df_medals_male.withColumnRenamed("Team_Clean", "Team")
df_medals_female = df_medals_female.withColumnRenamed("Team_Clean", "Team")

# Show the results
df_medals_male.show()
df_medals_female.show()

+------------+--------------------+----+------+------+
|        Team|               Sport|Gold|Silver|Bronze|
+------------+--------------------+----+------+------+
|       Japan|          Gymnastics|  65|    41|    46|
|       Japan|Short Track Speed...|   1|     0|     5|
|    Ethiopia|           Athletics|  12|     6|    12|
|       India|              Hockey|  39|    13|    30|
|       China|           Athletics|   3|     1|     4|
|       Japan|           Wrestling|  18|    15|    14|
|      Mexico|       Equestrianism|   0|     0|     9|
|  Kyrgyzstan|           Wrestling|   0|     1|     1|
|      Guyana|              Boxing|   0|     0|     1|
|       Japan|     Nordic Combined|   6|     2|     0|
|      Mexico|           Athletics|   3|     4|     2|
|     Morocco|           Athletics|   5|     4|     6|
|    Colombia|            Shooting|   0|     2|     0|
|       Japan|            Baseball|   0|    20|    44|
|      Mexico|           Wrestling|   0|     1|     0|
|       Japan|                Judo|  28|    10|    14|
|       Japan|             Fencing|   0|     5|     0|
|   Venezuela|              Boxing|   1|     2|     3|
|Saudi Arabia|           Athletics|   0|     1|     0|
|    Thailand|              Boxing|   4|     4|     6|
+------------+--------------------+----+------+------+
only showing top 20 rows

+--------------+--------------+----+------+------+
|          Team|         Sport|Gold|Silver|Bronze|
+--------------+--------------+----+------+------+
|     Indonesia| Weightlifting|   0|     3|     2|
|       Algeria|     Athletics|   2|     0|     0|
|Unified Team-2|Figure Skating|   0|     1|     1|
|      Thailand|     Taekwondo|   0|     1|     3|
|      Malaysia|        Diving|   0|     2|     1|
|   Philippines| Weightlifting|   0|     1|     0|
|      Malaysia|     Badminton|   0|     1|     0|
|       Algeria|          Judo|   0|     0|     1|
|      Thailand| Weightlifting|   5|     2|     3|
|     Indonesia|       Archery|   0|     3|     0|
|       Moldova| Weightlifting|   0|     0|     1|
|     Hungary-1|Figure Skating|   0|     0|     1|
|     Indonesia|     Badminton|   0|     1|     1|
|       Vietnam|     Taekwondo|   0|     1|     0|
+--------------+--------------+----+------+------+

<a name="conc"></a>
## Conclusion and Recommendations
***

Our analysis indicates that countries with athletic profiles similar to Filipino athletes have achieved notable success in specific Olympic sports. For male athletes, Gymnastics, Wrestling, Baseball, Boxing, Hockey, and Judo have proven to be areas of significant medal success. For female athletes, Weightlifting, Athletics, and Archery stand out.

This correlation aligns with real-world examples. The Philippines won its first-ever Olympic gold medal through weightlifter Hidilyn Diaz, who notably defeated China, a leading contender in weightlifting. Additionally, Filipino gymnast Carlos Yulo has gained international acclaim, being recognized as one of the modern greats in gymnastics.

These successes suggest that expanding the focus of Filipino sports culture beyond basketball could be advantageous. While basketball remains popular due to its accessibility and lower costs, embracing sports like Weightlifting, Gymnastics, and others could enhance the Philippines' competitive edge. We recommend that researchers further explore these sports in various countries using the dataset to identify additional opportunities for athletic development and international achievement.

[ref]: #top
[Back to Table of Contents][ref]

<a name="dat_set"></a>
## Dataset
***
For detailed insights and further analysis, you can access the dataset used in this study on Kaggle: 
[120 Years of Olympic History: Athletes and Results](https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results/data)


[ref]: #top
[Back to Table of Contents][ref]